{% extends "layout.html" %}

{% block content %}
<!--    <div class="container"style="text-align: center; background: #B0C4DE; height: 50vh; margin-top: 0px">-->
        <h2 >Functions</h2>
        <div class="btn-group" role="group" >
          <button type="button" class="btn btn-dark" style="text-align: center; width: 15em"><a href="/controller/">Controller App</a></button>
          <button type="button" class="btn btn-dark" style="text-align: center; width: 15em"><a href="/controller2/">Controller2</a></button>
        </div>
        <div>
            <img src="/video/streaming" >
        </div>

{% endblock %}
