<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/jquery.mobile-1.4.5.min.css" />
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/jquery.mobile-1.4.5.min.js"></script>
    <script src="/static/js/shake.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/popper.min.js" ></script>
    <script src="/static/js/bootstrap.min.js" ></script>
</head>
<body>
    <div class="container">
<!--       <div data-role="header" style="height: 6vh">-->
<!--           <a href="/" data-icon="home" data-dom-cache="false" style></a>-->
<!--           <h1>Drone Controller Web Application</h1>-->
<!--       </div>-->
        <nav class="navbar navbar-light bg-secondary">
            <div class="col-lg-4">
                <a href="/" data-icon="home" data-dom-cache="false" style="float: left">
                    <button class="btn btn-outline-success my-2 my-sm-0 rounded border border-warning" type="button">HOME</button>
                </a>
            </div>
            <div class="col-lg-8">
                <h2 style="float: left">Drone Controller Web App</h2>
            </div>
        </nav>

       <div style="text-align:center; background: lightgray; height: 50vh; margin-top: 0px" data-role="content" >
           {% block content %}{% endblock %}
       </div>


    </div>
</body>
</html>